/*
Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%)
 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(235, 18%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
}

.left-box{
    /* flex-basis: 150px; */
    width: 300px;
}

h1{
    margin-bottom: 10px;
}

p{
    font-size: 12px;
    /* font-family: 'Roboto', sans-serif; */
}

.paragraph-div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.paragraph{
    padding: 5px;
    margin-bottom: 20px;
    
}


.para{
margin-bottom: 5px;
}
.icon-list{
    width: 13px;
    height: 13px;
}

.right-box{
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
height: 300px;
width: 220px;
}

.right-image{
height: 100%;
width: 100%;
}

label{
    font-weight: bolder;
    font-size: 9px;
}

.email{
    padding: 5px 10px;
    margin-top: 4px;
border-radius: 5px;
width: 250px;
border: 1px solid #bcbcbc;
}

button{
background-color: black;
color:  hsl(0, 0%, 100%);
margin-top: 15px;
padding: 10px 10px;
border-radius: 5px;
width: 250px;
}

@media (max-width:500px){
.container{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 0;
}

.left-box{
    padding: 20px;
}

.right-box{
width: 100%;
}

.right-image{
    width: 100%;
}
}